<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>File Upload to AWS S3 bucket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
        #uploadForm {
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            margin-top: 50px;
            width: 50%;
        }

        input.btn {
            flex: 0.8;
        }

        button.btn {
            flex: 0.15;
        }

        .alert {
            margin-top: 20px;
        }

        .alert-success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
        }

        .alert-danger {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>File Upload to AWS S3 bucket</h1>
        <!-- error ejs -->
        <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
                <!-- success ejs -->
                <% if (message) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message %>
                    </div>
                    <% } %>
                        <form action="/api/upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="file" class="btn btn-primary" id="file" multiple>
                            <button class="btn btn-primary" type="submit" style="border-radius: 4px;">
                                Upload
                            </button>
                        </form>
    </div>
    <script type="text/javascript">
        document.getElementById("file").value = "";
    </script>
</body>

</html>